services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: nlr
      POSTGRES_PASSWORD: nlr
      POSTGRES_DB: nlr
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

volumes:
  dbdata:
